# spacy==3.7.2 # install later
confection==0.1.4
vllm==0.8.5.post1
transformers
fschat
ray
openai>=1.25.1
anthropic
mistralai
google-generativeai
google-cloud-aiplatform
torchvision
sentence_transformers
# matplotlib # install later
accelerate
datasketch
pandas
art  # for ArtPrompt
tenacity  # for ArtPrompt
boto3
bpe
